.DS_Store
__pycache__

# package directories
node_modules
!/node_modules
jspm_packages

# Serverless directories
.serverless

config.json
secrets.yml
/venv
/backend/data/abbreviations.tsv
/backend/data/us
/backend/data/orig
/backend/data/full
/frontend/public/javascripts
